

/*
	Theme Name: Inna
	Author: NZ
*/

/*Specification*/

html, body {
    overflow-x: hidden;
    /*-webkit-overflow-scrolling: touch;*/
    /*margin-top: -32px !important;*/
}

#wpadminbar {
    display: none;
}

body {
    font-family: 'MuseoSansCyrl-100', 'MuseoSansCyrl-300', 'MuseoSansCyrl-900', 'Natasha', 'sans-serif';
    font-size: 17px;
    overflow-y: visible !important;
    margin-right: 0 !important;
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    width: 100%;
}


.container {
    position: relative;
}


ul li {
    display: block;
}


h6 {
    font: bold 12px 'Arial';
    text-transform: uppercase;
}

a, a:hover, a:active, a:focus{
    text-decoration: none;
}

input, input:hover, input:active, input:focus {
    outline: none;
    background: #ffffff;
}

button {
    border: none;
    outline: none;
    background: none;
}

button:focus {
    outline: none;
}

/*header*/

header {
    background-color: #4a453ffc;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 200;
    margin-bottom: 0;
}

.mobile-menu {
    display: none;
}

.top-menu li {
    position: relative;
    padding: 10px 0 10px 0;
}

.sub-menu {
    position: absolute;
    width: 170%;
    bottom: 100%;
    top: -9999em;
    opacity: 0;
    -webkit-transition: cubic-bezier(0.25, 0.1, 0, 0.43) 0.5s opacity;
    -o-transition: cubic-bezier(0.25, 0.1, 0, 0.43) 0.5s opacity;
    transition: cubic-bezier(0.25, 0.1, 0, 0.43) 0.5s opacity;
    padding: 0;
}

.sub-menu li {
    border-bottom: 1px dotted #5a544f;
}

.sub-menu li .sub-menu {
    position: absolute;
    width: 90%;
    right: 100%;
    top: -9999em;
    visibility: hidden !important;
    -webkit-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    transition: 0.5s opacity;
    padding: 0;
    border: 1px solid #5a544f;
}

.sub-menu li:hover .sub-menu{
    visibility: visible !important;
    top: 100% !important;
    margin-top: -45px;
}

.top-menu li:hover .sub-menu {
    opacity: 1;
    top: 100%;
}

.menu-item:hover {
    background: #4e4844;
}

.current-menu-item, .sub-menu li {
    background: #4e4844;
}

.sub-menu .menu-item a {
    color: #fff;
    font: 13px 'ElMessiri-SemiBold' !important;
    text-transform: initial !important;
    margin-top: 10px;
}

.menu-item-96::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent #eee transparent  transparent;
    top: 18px;
    right: 0.7em;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.menu-item-281::after, .menu-item-291::after, .menu-item-162::after, .menu-item-280::after, .menu-item-47::after,
.menu-item-46::after, .menu-item-7::after, .menu-item-96::after  {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent #eee transparent  transparent;
    top: 18px;
    right: 0.7em;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.menu-item-281:hover::after, .menu-item-291:hover::after, .menu-item-280:hover::after, .menu-item-162:hover::after, .menu-item-7:hover::after,
.menu-item-47:hover::after, .menu-item-46:hover::after, .menu-item-96:hover::after {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.top-menu .menu-item a {
    text-transform: uppercase;
    color: #f3f0e0;
    font-family: 'ElMessiri-SemiBold', serif;
    padding: 30px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    font-size: 14px;
}

.menu-left {
    padding-left: 0;
}

ul .cat-item {
    padding: 10px;
}

ul .cat-item a {
    font-family: 'MuseoSansCyrl-900';
    color: #63613f;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

ul .cat-item a:hover {
    color: #dcd8cb;
    background-color: #6f6e59;
}

ul .cat-item a::before {
    content: '\2714';
    color: #1e2ac3;
    padding-right: 10px;
}

.widget_media_image {
    margin-left: 50px;
}

.widgettitle {
    display: none;
}

.main-title-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 20px 0px 45px;
}

.consult-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.consult-links p {
    padding-left: 50px;
    font: 20px 'Lobster-Regular', sans-serif;
    color: #6f6e59;
}

.main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 50px 'Lobster-Regular', sans-serif;
    color: #6f6e59;
    margin-right: 20px;
}

.main-title p {
    font: 16px 'ElMessiri-Bold',sans-serif;
    color: #6f6e59;
}

.under-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.under-top li {
    background: rgba(97, 48, 84, 0.6);
    margin-right: 10px;
    border: 1px solid #5282a5;
}

.under-top li a {
    padding: 6px;
    color: #ffffff;
    font: 14px 'MuseoSansCyrl-600';
    text-transform: uppercase;
}

.under-top li:hover {
    background:#ffffff ;
    border: 1px solid #5282a5;
}

.under-top li a:hover {
    color: #5282a5;
}

aside {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


.btn-menu {
    color: #ffffff;
    display: none;
    cursor: pointer;
    -webkit-transition: left .23s;
    -o-transition: left .23s;
    transition: left .23s;
    width: 22px;
    margin: 0 0 0 auto;
}

.btn-menu span {
    display: block;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0 0;
    -webkit-transition: all .1s linear .23s;
    -o-transition: all .1s linear .23s;
    transition: all .1s linear .23s;
    position: relative;
    border-radius: 5px;
}

.menu-opened {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(82, 79, 71, 0.7);
}

.mobile-menu {
    position: absolute;
    width: 100%;
    z-index: 300;
    text-align: center;
    padding: 10% 0 0 0 !important;
    height: 100vh;
}

.mobile-menu li a {
    text-transform: uppercase;
    color: #f3f0e0;
    font-family: 'ElMessiri-SemiBold', serif;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    font-size: 14px;
}

.mobile-menu li {
    padding: 10px 0;
}


/*first section*/

.main {
    margin: 0px 50px 25px 50px;
    padding: 30px 50px 0 50px;
    background: rgba(53, 32, 32, 0.2);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: auto;
}

.searchform div label {
    display: none;
}

.searchform div {
    text-align: center;
}

.searchform div input {
    background: #e0d4c9;
}

.searchform div input[type="submit"]{
    margin-left: 115px;
    margin-top: 5px;
}


.slick-slide {
    margin-left: 20px;
}

.slides-item img {
    width: 400px;
    height: 300px;
}

ul .cat-item {
    padding: 10px 0 10px 0;
    width: 170px;
}

.addtoany_header {
    font-family: 'ElMessiri-SemiBold', serif;
}

.home-button {
    background: #6d54598c;
    outline: none;
    color: #ffe;
    border: 1px solid #461d1d;
    cursor: pointer;
    padding: 5px 10px;
}

.pd-botom {
    padding-bottom: 20px;
}

.current-menu-item {
    background: #6a6a6a;
}

.fb-customerchat {
    position: absolute !important;
}

#wacht-baixo a {
    top: 75%;
}

/*pagination*/

.pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-numbers li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-numbers li .current {
    z-index: 1;
    color: #fff;
    font-weight: bold;
    background-color: #918c86;
    border-color: #007bff;
    padding: .5rem 0.75rem;
}

.page-numbers li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #918c86;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.attachment-post-thumbnail {
    width: 500px;
    height: 350px;
    float: right;
    padding: 10px;
}

.post-pic {
    float: right;
    padding: 10px;
}

.n2-section-smartslider  {
    padding-bottom: 40px;
}

.taro-right {
    float: right;
}

.postItem {
    padding-bottom: 20px;
}

.postItem p {
    font-family: 'ElMessiri-SemiBold', sans-serif;
}

.postItem ul li {
    font-family: 'MuseoSansCyrl-900', sans-serif;
}

.postTitle-single {
    font-family: 'Lobster-Regular', 'Arial', sans-serif;
    color: #6f6e59;
}

.postTitle a{
    font-family: 'Lobster-Regular', 'Arial', sans-serif;
    color: #6f6e59;
}

.postTitle a:hover {
    -webkit-text-decoration: dotted;
    text-decoration: dotted;
}

.home-url {
    color: #ffffff;
    font: 15px 'MuseoSansCyrl-900', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    background: #9a9191;
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.home-url:hover {
    color: #9a9191;
    background: #ffffff;
}

.cat-item-1 {
    display: none;
}

/*Comments*/

.comment-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
}

.comment-body {
    margin-bottom: 10px;
}

.comment-body:after {
    content: '';
    display: block;
    border-bottom: 1px solid #2F4F4F;
    height: 1px;
}

.comment-meta p {
    margin-right: 10px;
}

.comment-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.comment-reply-title {
    display: none;
}

cite {
    font: 15px 'ElMessiri-SemiBold', sans-serif;
    margin-left: 5px;
}

.comment-form-comment label{
    display: none;
}

textarea {
    background: #e0d5ca;
}

.form-submit input {
    background: #6d54598c;
    outline: none;
    color: #ffe;
    border: 1px solid #461d1d;
    cursor: pointer;
}

.form-submit input:hover {
    background: #ffe;
    color: #382a2c8c;
}



/*Modal window*/

.feedback {
    display: none;
}

/*Slider*/

.your-class {
    margin: 20px auto 40px auto;
    width: 600px;
    position: relative;
}

.slick-slide {
    outline: none;
}

.pic-name {
    width: 600px;
}

.pic-slide img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.pic-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slide-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slick-prev {
    border: 22px solid;
    border-color: transparent #5f4d4d transparent transparent;
    width: 0px;
    position: absolute;
    top: 64px;
    left: -5%;
    cursor: pointer;
}

.slick-next {
    border: 22px solid;
    border-color: transparent transparent  transparent #5f4d4d;
    width: 0px;
    position: absolute;
    top: 64px;
    left: 96%;
    cursor: pointer;
}


.feedback-btn__link {
    color: #ffffff;
    font: 15px 'MuseoSansCyrl-900', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    background: #9a9191;
    padding: 5px 10px 5px 10px;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.feedback-btn__link:hover {
    color: #9a9191;
    background: #ffffff;
}

.backfeed-name {
    padding: 10px;
}

/*footer*/

footer{
    background-color: #4a453ffc;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rights {
    font: 14px 'Arial';
    color: #ffffff;
    padding: 15px 0;
}