/*По умолчанию*/

@font-face {
    font-family: 'ElMessiri-Bold';
    src: url('../fonts/ElMessiri-Bold.otf'); /* IE9 Compat Modes */
    src: url('../fonts/ElMessiri-Bold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ElMessiri-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ElMessiri-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ElMessiri-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ElMessiri-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ElMessiri-Medium';
    src: url('../fonts/ElMessiri-Medium.otf'); /* IE9 Compat Modes */
    src: url('../fonts/ElMessiri-Medium.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ElMessiri-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ElMessiri-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ElMessiri-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ElMessiri-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Lobster-Regular';
    src: url('../fonts/Lobster-Regular.otf'); /* IE9 Compat Modes */
    src: url('../fonts/Lobster-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lobster-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Lobster-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Lobster-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Lobster-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'ElMessiri-Regular';
    src: url('../fonts/ElMessiri-Regular.otf'); /* IE9 Compat Modes */
    src: url('../fonts/ElMessiri-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ElMessiri-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ElMessiri-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ElMessiri-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ElMessiri-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'ElMessiri-SemiBold';
    src: url('../fonts/ElMessiri-SemiBold.otf'); /* IE9 Compat Modes */
    src: url('../fonts/ElMessiri-SemiBold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ElMessiri-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ElMessiri-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ElMessiri-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ElMessiri-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'MuseoSansCyrl-100';
    src: url('../fonts/MuseoSansCyrl-100.otf'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl-100.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('../fonts/MuseoSansCyrl-300.otf'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url('../fonts/MuseoSansCyrl-900.otf'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MuseoSansCyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Natasha';
    src: url('../fonts/Natasha.otf'); /* IE9 Compat Modes */
    src: url('../fonts/Natasha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Natasha.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Natasha.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Natasha.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Natasha.svg#svgFontName') format('svg'); /* Legacy iOS */
}