

@media screen and (max-width:1200px) {
    .top-menu {
        display: none !important;
    }

    .btn-menu {
        display: block !important;
    }
}

@media screen and (max-width:1170px) {
    .under-top {
        padding-left: 50px;
    }
}

@media screen and (max-width:992px) {
    .wrap {
        flex-direction: column;
    }

    .postItem {
        padding: 15px;
    }

    aside {
        display: none;
    }

    .main {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media screen and (max-width:768px) {
    .under-top li {
        flex-basis: 150px;
        margin-bottom: 10px;
    }

    .main-title-up {
        justify-content: center;
    }

    .consult-links {
        padding: 0 !important;
        justify-content: center !important;
    }

    .consult-links p {
        padding: 0 !important;
    }

    .under-top {
        padding: 0 !important;
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .main {
        margin: 0 !important;
        padding: 30px 20px 0 20px !important;
    }
}

@media screen and (max-width:400px) {
    .main-title-up {
        padding: 30px 0 0 0 !important;
    }
}